<html>
<head>
	<title>Bringit!</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap-thime.min.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
	
	<h1 class="text-center">Bringit!</h1>
	<h3 class="text-center">My Lists</h3>
	{{#each events}}
	<a href="/event">
	<div class="event">
		<table> 
			<a href="/event">
			<tr>
				<th>{{event-title}}</th>
				<th>{{Date}}</th>
			</tr>

			<tr>
				<td>{{Hosts}}</td>		
			</tr>
			
		</table>
	</div>
	</a>
		<hr>
	{{/each}}

	<div class="text-center add-btn"><a alt="add" href="/create"><i class="material-icons">add</i></a></div>
</body>
</html>
