<html>
<head>
	<title>Bringit!</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
	
	<h1 class="text-center">Bringit!</h1>
	<h3 class="text-center">My Lists</h3>
	{{#each events}}
	<a href="/event">
	<div class="event card">
		<table> 
			<tr>
				<th><h3 class="event-title">{{title}}</h3></th>
				<th><h6>{{date}}</h6></th>
			</tr>

			<tr>
				<td><h6>{{#each guests}}{{getUserFullName this}}, {{/each}}</h6></td>		
			</tr>
			
		</table>
	</div>
	</a>
	{{/each}}

	<div id="add-btn-container"><button class="text-center btn btn-primary" id="add-btn"><a alt="add" href="/create"><i class="material-icons">add</i> Event</a></button></div>
</body>
</html>
