<html>
<head>
    <title>Login Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/login.css">
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/login-jq.js"></script>
</head>
<body>
    <h1 class="text-center">Bringit!</h1>
<div class="form-container">
    <ul class="list">
        <li><h2>User Login</h2></li>
        <li><input type="text" name="Username" placeholder="Username" id="usernameInput"></li>
        <li><input type="password" name="Password" placeholder="........" id="passwordInput"></li>
        <a href="/index"><li><input type="button" name="Submit" value="Submit" id="loginBtn"></li></a>
        <a href="/index"><li><input type="button" id= "sub" name="Sign Up" value="Sign Up"></li></a>
    </ul>


</div>


</body>
</html>