<html>
<head>
	<title>Points</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap-thime.min.css" rel="stylesheet">
	<link href="css/points.css" rel="stylesheet">
    <link href="css/event.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <div class="container toolbar">
        <div class="toolbar-back"><a alt="back" href="/event"><i class="material-icons">arrow_back</i></a></div>
        <div class="toolbar-title"><h2 class="page-title">Points Totals</h2></div>
    </div>

    <table>
        <tr class="table-line">
            <th></th>
            <th>Names</th>
            <th>Points</th>
        </tr>
	    {{#each people}}
            <tr class="table-line">
                <td><div class="avatarP">{{getFirstLetter this.Name}}</div></td>
                <td>{{Name}}</td>
                <td>{{Points}}</td>
            </tr>
	    {{/each}}
    </table>
    <hr>
    <h3 class = text-center>Total points: 73</h3>
</body>
</html>