@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --color-primary: #4db6ac;
    --color-primary-light: #b2dfdb;
    --color-primary-dark: #00867d;
    --color-secondary: #ffab40;
    --color-secondary-light: #ffdd71;
    --color-secondary-dark: #c77c02;

    --color-primary-text: #000000;
    --color-secondary-text: #000000;
}

.btn-primary{
    background-color: var(--color-secondary);
    background-image: none;
    color: var(--color-secondary-text);
    border-color: var(--color-secondary-dark)
}
.btn-primary a{
    color: var(--color-secondary-text);
}
.btn-primary:active, .btn-primary.active{
    background-color: var(--color-secondary-dark);
    background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: var(--color-secondary-light);
    background-image: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: var(--color-secondary-text);
  background-color: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark);
}
.btn-default{
    background-color: var(--color-secondary-dark);
    background-image: none;
    color: var(--color-secondary-text);
    border-color: var(--color-secondary-dark);
    text-shadow: none;
}
.btn-default a{
    color: var(--color-secondary-text);
}

.logo{
    background-color: var(--color-primary);
    font-family: 'Lobster', cursive;
    margin-top: 0;
    padding: 20px;
    color: #e8f4f3;
}
.well{
    background-color: var(--color-primary-light);
    background-image: none;
}
.chip{
    padding: 8px 20px;
    background-color: var(--color-primary);
    color: var(--color-primary-text);
    border-radius: 18px;
    display: inline;
    margin: 10px 15px;
    font-size: 12pt;
}
.toolbar{
    background-color: var(--color-primary);
    padding: 10px 0;
}
.toolbar .toolbar-back{
    float: left;
    padding-left: 20px;
    color: var(--color-primary-text);
}
.toolbar a {
    color: var(--color-primary-text);
}
.toolbar .toolbar-title{
    float: left;
    padding-left: 20px;
    max-width: 60%;
}
.toolbar .toolbar-btn{
    float: right;
    padding-right: 20px;
}

.page-title{
    margin-top: 0px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1.25rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header:first-child {
    border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0
}

.card-footer {
    padding: .75rem 1.25rem;
    border-top: 1px solid rgba(0,0,0,.125);
}
.card-footer:last-child {
    border-radius: 0 0 calc(1.25rem - 1px) calc(1.25rem - 1px);
}
.tabs-col-2{
    width:100%;
}
.tabs-col-2 li{
    width: 50%;
}
.nav-tabs{
    background-color: var(--color-primary);   
}
.nav-tabs .active a{
    background-color: white;   
}
.nav-tabs li a{
    color: #555555;
    background-color: var(--color-primary-light);   
}
.dropdown-menu > li > a{
    padding: 8px 20px;
    font-size: 16px;
}