@import "bringit-theme.css";
.item-category{
    margin-top: 20px;
}
.item-cell{
    text-align: left;
    background-color: var(--color-primary-light);
    color: var(--color-primary-text);
    border-top: none!important;
}

.avatar{
    display: inline-block;
    background-color: gainsboro;
    text-align: center;
    height: 20px;
    width: 20px;
}

.item-details-list{
    list-style: none;
    text-align: center;
}

#add-category-btn{
    display: flex;
    align-items: center;
}

#add-category-btn p {
    margin: 0 0 0 10px;
}

#add-category-btn-container{
    display: flex;
    justify-content: center;
}

#add-category-field{
    width: 70%;
    margin-left: 20px;
}

.add-category-container{
    margin-top: 15px;
    margin-bottom: 80px;
}

.table td{
    width: fit-content;
}
.center-cell{
    text-align: center;
}
.claim-controls-container{
    display: flex;
    justify-content: space-evenly;
}
.dropdown-menu > li > a{
    padding: 8px 20px;
    font-size: 16px;
}
.add-item-btn{
    display: flex;
    align-items: center;
    padding: 6px;
    margin-bottom: 50px;
}
.add-item-btn p{
    margin: 0;
}
.btn-primary a{
    color: white;
}
.add-item-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
    background-color: var(--color-primary-light);
    color: var(--color-primary-text);
    border-top: none!important;
}
.add-item-row p {
    margin: 0 0 0 10px;
}
.no-padding{
    padding: 0!important;
    border: none!important;
}