@import "bringit-theme.css";
.right{
    float:right;
}
.left{
    float:left;
}

.event, .event-inline{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
  }
.card {
    background-color: var(--color-primary);
    border-color: solid var(--color-primary-dark);
}
.event-title{
    margin: 0;
}
.event td, .event th {
    padding: 5px 10px;
}

#add-btn-container{
    display: flex;
    justify-content: center;
}

#add-btn{
    padding: 5px 25px;
    background-image: none;
}
#add-btn a{
    display: flex;
    align-items: center;
}
#add-btn a i{
    margin-right: 5px;
}