@import "bringit-theme.css";
*{margin: 0; padding: 0}

body{
    background-color: var(--color-primary-light);
}

.form-container{
    width: 60%;
    padding: 20px 30px;
    background-color: var(--color-primary);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    margin: 20vh auto;
}

ul.list{
    list-style-type: none;
    text-align: center;

}

ul.list li{
    width: 100%;
    margin-bottom: 10px;
}

ul.list li input{
    width: 100%;
    text-align: center;
    padding: 6px 0px;
    border: none;
}

ul.list li input[type="button"]{
    width: 100%;
}

#sub {
    width: 100%;
}


