@import "bringit-theme.css";  

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;
  }
  
  td, th {
    
    text-align: left;
    padding: 8px;
  }
  
  .table-line:nth-child(even) {
    background-color: var(--color-primary-light);
  }

  .points-cell{
    padding-right: 50px;
  }

  .avatarP{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    text-align: center;
    height: 40px;
    width: 40px;
    margin-right: 40px;
}

#progressContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

#goal {
  text-align: center;
  font-size: 14pt;
  position: relative;
  top: -100px;
  color: #888888;
}

.c100{
  margin: 0 0 20px 0;
  
}