table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;
  }
  
  td, th {
    
    text-align: left;
    padding: 8px;
  }
  
  .table-line:nth-child(even) {
    background-color: #dddddd;
  }